<div id="layoutSidenav_content">
<main id="separador">
    <h1 class="mt-4">CRUD de Noticias</h1>

    <div style="overflow-x: auto">
      <table id="tabla">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of DataNoticias">
            <td data-label="id">{{ data.id }}</td>
            <td data-label="Titulo">{{ data.titulo }}</td>
            <td data-label="Descripcion">{{ data.descripcion }}</td>
            <td data-label="Imagen">{{ data.imagen}}</td>

            <td data-label="Accion">
              <button mat-icon-button color="primary" [routerLink]="['/Admin/editNoticia/', data.id]"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="eliminarNoticia(data.id)"><mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
          <button mat-raised-button id="adding" routerLink="/Admin/AggNoticias" color="accent">Agregar</button>
    </div>
  </main>
</div>