<div class="section section-white section-nucleo-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="container-fluid">
          <div class="card card-register-new">
            <h3 class="title-log">Bienvenido a BuckLink</h3>
            <h5 class="subtitle-log">Inicia Sesion:)</h5>
            <form class="register-form">
              <label>Correo Electronico</label>
              <input type="text" class="form-control " placeholder="Escribe tu correo Electronico" />
              <br />
              <label>Contraseña</label>
              <input type="password" class="form-control" placeholder="Escribe tu contraseña" />
              <br>
              <br>
              <a href="#" class="btn btn-link-log btn-link btn-round">Olvidaste tu contraseña?</a>
              <form style="display: inline" action="http://example.com/" method="get">
                <br>
                <button class="btn btn-info btn-block btn-round">
                  Sign in
                </button>
              </form>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <img class="img-fluid" src="/assets/img/feautes-icon.png" alt="text" srcset="" />
      </div>
    </div>
  </div>
</div>