<!-- Header-->
<div id="header" class="page-header section-dark" style="background-image: url('/assets/img/Background.png')">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="container-fluid mt-5">
          <div class="title-structure">
            <div class="title-brand">
              <h1 class="presentation-title">BuckLink</h1>
            </div>
            <div class="subtitule">
              <h2 class="presentation-subtitle">
                Conecte audiencias a todo su contenido con un solo enlace
              </h2>
            </div>
            <div class="button-header">
              <a href="#" class="btn btn-info btn-round" target="_blank">
                Empezar
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="image">
          <img class="img-fluid" src="/assets/img/header-picture.png" alt="text" srcset="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main-->
<div class="main">
  <!-- Caracteristicas-->
  <div class="section section-white section-nucleo-icons">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <img class="img-fluid" src="/assets/img/feautes-icon.png" alt="text" srcset="" />
        </div>
        <div class="col-lg-6 col-md-12">
          <h2 class="title">Características</h2>
          <div class="container-fluid">
            <div class="row-feature">
              <div class="d-flex flex-column">
                <img class="w-25 mt-1" src="/assets/img/Icon-section.svg" alt="" />
                <h3 class="subtitulo-feature mt-2">Conecta con todos</h3>
                <p class="mt-2">
                  Comparte tu BuckLink en todas las plataformas sociales.
                </p>
              </div>
              <div class="d-flex flex-column">
                <img class="w-25 mt-1" src="/assets/img/Icon-section.svg" alt="" />
                <h3 class="subtitulo-feature mt-2">Multiples enlances</h3>
                <p class="mt-2">
                  Dirija su tráfico con enlaces ilimitados.
                </p>
              </div>
              <div class="d-flex flex-column">
                <img class="w-25 mt-1" src="/assets/img/Icon-section.svg" alt="" />
                <h3 class="subtitulo-feature mt-2">
                  Análisis y estadisticas
                </h3>
                <p class="mt-2">
                  Análisis detallado del rendimiento de su tráfico.
                </p>
              </div>
              <div class="d-flex flex-column">
                <img class="w-25 mt-1" src="/assets/img/Icon-section.svg" alt="" />
                <h3 class="subtitulo-feature mt-2">
                  Personaliza tu BuckLink
                </h3>
                <p class="mt-2">
                  Incorpora tu marca a través de colores personalizados.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Caracteristicas -->
<stepper-landing></stepper-landing>
<formulario-landing></formulario-landing>
</div>
<!-- End Main -->