  <!-- Header-->
  <div id="header" class="page-header section-purple">
    <div class="container">
      <div class="row-prueba">
        <div class="area">
          <div class="titulo title-brand">
            <h1 class="presentation-title-new">Noticias</h1>
          </div>
          <div class="buscar input-group-new input-group form-group-no-border">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="nc-icon nc-zoom-split"></i>
              </span>
            </div>
            <input type="search" class="form-control" placeholder="Buscar..." />
          </div>
          <div class="texto subtitule">
            <h2 class="presentation-subtitle-new">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
              voluptates rerum aliquid voluptatibus provident nostrum ullam
              cum asperiores reprehenderit suscipit exercitationem repudiandae
              culpa consequuntur, magnam ad voluptate ipsa recusandae ab.
            </h2>
          </div>
          <div class="imgnew image">
            <img class="img-fluid-new img-fluid" src="/assets/img/new.png" alt="text" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Header -->

  <!-- Main-->
  <div class="main">
    <!-- Noticias-->
    <div class="section landing-section" id="contacto">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="news-grid">
              <div class="n-grid">
                <div class="col-md-12">
                  <div class="barra-gridnew">
                    <p class="barra-new">Lorem 12/12/1222.</p>
                  </div>
                  <div class="titulo-gridnew title-brand">
                    <h2 class="titulo-new">Noticias</h2>
                  </div>
                  <div class="texto-gridnew subtitule">
                    <p class="text-new">
                      Lorem ipsum dolor sit amet consectetur, adipisicing
                      elit. Porro voluptates rerum aliquid voluptatibus
                      provident nostrum ullam cum asperiores reprehenderit
                      suscipit exercitationem repudiandae culpa consequuntur,
                      magnam ad voluptate ipsa recusandae ab.
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="imgnew image">
                    <img class="img-fluid-new img-fluid" src="/assets/img/new.png" alt="text" srcset="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Noticias-->
  </div>
  <!-- End Main -->
