<div class="view" [ngStyle]="{'background-color': perfilUsuario.Fondo}">
    <img src={{img}} alt="Perfil de Usuario">
    <p>@{{subruta.toLowerCase()}}</p>
    <!--<profile-link-view *ngFor="let user of nombres [nombreSitio]"></profile-link-view>-->
    <profile-link-view *ngFor="let enlace of LinksEx" [linkSitio]="enlace.WebSiteURL" [nombreSitio]="enlace.WebSiteNombre" [imgSitio]="enlace.Imagen" [colorFondo]="enlace.ColorFondo" [colorTexto]="enlace.ColorLetra" [NombreUsuario]="subruta"></profile-link-view>
</div>


 