<header-landing></header-landing>
<div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-shaped">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-6">
              <h1 class="display-3  text-white">BucketLink</h1>
              <p class="lead  text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. quisquam earum quaerat dolore asperiores?</p>
              <div class="btn-wrapper">
                <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/alerts?ref=adsa-landing-page" class="btn btn-info btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--text">Comenzar</span>
                </a>       
              </div>
            </div>
            <div class="col-lg-6">
                <img src="./assets/CellBase.png" alt="hola">
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/img/feautes-icon.png" class="img-fluid floating">
        </div>
        <div class="col-md-6 order-md-1">
          <div class="pr-md-5">
            <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
              <i class="ni ni-settings-gear-65"></i>
            </div>
            <h3>Caracteristicas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi doloremque et nobis, harum laborum veritatis quo eaque possimus aperiam odio alias ad iste tempora quos saepe maxime perferendis cumque.</p>
            <ul class="list-unstyled mt-5">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-settings-gear-65"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Carefully crafted components</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-html5"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Amazing page examples</h6>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="badge badge-circle badge-success mr-3">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div>
                    <h6 class="mb-0">Super friendly support team</h6>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-gradient-default">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Algo de BucketLink</h2>
          <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellat, enim molestiae, consectetur maxime explicabo doloribus voluptatum repellendus natus, consequatur nam at soluta voluptas? Nesciunt tempore deserunt sapiente quisquam veniam?</p>
        </div>
    </div>
  </section>
  <section class="section section-lg">
    <div class="row text-center ">
      <div class="col-lg-10">
        <h2 class="display-3 text-white">Algo de BucketLink</h2>
        <p class="lead text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repellat, enim molestiae, consectetur maxime explicabo doloribus voluptatum repellendus natus, consequatur nam at soluta voluptas? Nesciunt tempore deserunt sapiente quisquam veniam?</p>
      </div>
  </div>
</section>
<router-outlet></router-outlet>
<footer-landing></footer-landing>

