<!-- Header-->
<div id="header" class="page-header section-purple">
    <div class="container">
      <div class="row">
        <div class="hola2 col-lg-6 col-md-12">
          <div class="title-brand">
            <h1 class="presentation-title-new">Nosotros</h1>
            <div class="subtitule">
              <h2 class="presentation-subtitle-new">
                Somos un equipo apasionado de desarrolladores y diseñadores, comprometidos
                con equipar a los creadores de contenido con las mejores herramientas para
                que su trabajo sea visto de la mejor manera.
              </h2>
            </div>
          </div>
        </div>
        <div class="hola col-lg-6 col-md-12">
          <div class="image">
            <img class="img-fluid" src="/assets/img/nosotros-banner.png" alt="text" srcset="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Header -->
  <!-- TEAM  Start-->
  <div class="container">
    <div class="row text-center justify-content-around mt-5">
      <div class="col-lg-6 flex-grow-0">
        <div class="card carta">
          <img class="flag" src="/assets/img/flag.png" alt="Card image cap" />

          <img class="card-img-top w-50 text-center" src="/assets/img/stef-face.png" alt="Card image cap" />
          <h4 class="card-title">Stefany</h4>
          <div class="card-body">
            <p class="card-text">
              Estudiante de ingenieria en Computacion en ESPOL
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 flex-grow-0">
        <div class="card carta">
          <img class="flag" src="/assets/img/flag.png" alt="Card image cap" />

          <img class="card-img-top w-50 text-center" src="/assets/img/samir-face.png" alt="Card image cap" />
          <h4 class="card-title">Samira</h4>
          <div class="card-body">
            <p class="card-text">
              Estudiante de ingenieria en Computacion en ESPOL
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 flex-grow-0">
        <div class="card carta">
          <img class="flag" src="/assets/img/flag.png" alt="Card image cap" />

          <img class="card-img-top w-50 text-center" src="/assets/img/erw-face.png" alt="Card image cap" />
          <h4 class="card-title">Erwing</h4>
          <div class="card-body">
            <p class="card-text">
              Estudiante de ingenieria en Computacion en ESPOL
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 flex-grow-0">
        <div class="card carta">
          <img class="flag" src="/assets/img/flag.png" alt="Card image cap" />

          <img class="card-img-top w-50 text-center" src="/assets/img/david-face.png" alt="Card image cap" />
          <h4 class="card-title">David</h4>
          <div class="card-body">
            <p class="card-text">
              Estudiante de ingenieria en Computacion en ESPOL
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TEAM End -->