<div class="LinkContainer">
    <div class="DraggableSection">
        <img src="../../assets/BurgerIcon.svg" alt="Icono para mover elemento" class="DraggableImg"/>
    </div>
    <div class="LinkInfo">
        <div class="EditableInfo">
            <input type="text"  name="LinkTitle" id="LinkTitle0" value="Instagram"/>
            <input type="text" name="LinkUrl" id="LinkUrl0"  value="www.instagram.com"/>
        </div>
        <div class="LinkOptions">
            <div class="LinkOptionStyle">
                <button class="LinkOption">
                    <img src="../../assets/ThumbnaiIcon.svg" alt="Ingresar Imagen Link"  />
                </button>
                <button class="LinkOption">
                    <img  src="../../assets/StyleIconAlter.svg"  alt="Editar Aspecto del link" />
                </button>
            </div>
            <div class="LinkOptionsConfig">
                <button class="LinkOption">
                    <img src="../../assets/SaveIcon.svg" alt="" />
                </button>
                <button class="LinkOption" onclick="alert('aaaaaaa')">
                    <img src="../../assets/ShowIcon.svg" alt="Mostrar/Ocultar Link"/>
                </button>
                <button class="LinkOption">
                    <img src="../../assets/DeleteIcon.svg" alt="Borrar Link" />
                </button>
            </div>
        </div>
    </div>
</div>
