<nav >
    <ul>
    <li>
        <img src="../../assets/UserIcon.svg" alt="Icono de Usuario" class="UserIcon"/>
        <span>{{subruta}}</span>
    </li>
    <li>
        <a (click)="desingPage()"  (mouseover)="hoverDesign=true" (mouseleave)="hoverDesign=false" [ngStyle]="{'background-color': designOption||hoverDesign ? '#7e73ff':'#2e2e48' }"><img src="../../assets/DashboardIcon.svg" alt="Diseño" class="MenuIcon"/>
        <span>Diseño</span></a>
    </li>
    <li>
        <a (click)="statisticsPage()" (mouseover)="hoverStatistics=true" (mouseleave)="hoverStatistics=false" [ngStyle]="{'background-color': statisticsOption||hoverStatistics ? '#7e73ff':'#2e2e48' }"><img src="../../assets/StatisticsIcon.svg" alt="Estadísticas" class="MenuIcon"/>
        <span>Estadísticas</span></a>
    </li>
    <li>
        <a (click)="configPage()"  (mouseover)="hoverConfig=true" (mouseleave)="hoverConfig=false" [ngStyle]="{'background-color': configOption||hoverConfig ? '#7e73ff':'#2e2e48'}" ><img src="../../assets/ConfigIcon.svg" alt="Configuración" class="MenuIcon"/>
        <span>Configuración</span></a>
    </li>
    <li class="LogOut">
        <a href="../index.html">
        <img src="../../assets/LogOutIcon.svg" alt="Cerrar Sesion" class="MenuIcon" />
        <span>Cerrar Sesion</span></a>
    </li>
    </ul>
</nav>
<main [ngStyle]="{'display': designOption ? 'grid': 'none'}">
    <div class="ContainerMain" >
        <div class="ContentOptions">
            <div class="ContOptions">
                <a (click)="editarLinks()"><button [ngStyle]="{'background-color': showLinkEdit ? '#7e73ff':'#2e2e48'}">Links</button></a>
                <a (click)="elegirFondo()"><button [ngStyle]="{'background-color': showBcgPicker ? '#7e73ff':'#2e2e48'}">Fondo</button></a>
            </div>
            <div class="ButtonOptions">
                <button (click)="agregarLink()">+</button>
                <button (click)="colorearLinks()" [ngStyle]="{'background-color': showLinkDesign ? '#7e73ff':'#2e2e48'}"><img src="../../assets/StyleIcon.svg" alt="" /></button>
            </div>
        </div>
        <div class="ScrollableContent" id="LinksEditableContainer" [ngStyle]="{'display': showLinkEdit ? 'block': 'none'}">
            
            <link-editable *ngFor="let link of LinksEx"  [nombreSitio]="link.WebSiteNombre" [linkSitio]="link.WebSiteURL" [imgSitio]="link.Imagen"></link-editable>

        </div>
        <div class="BackgroundPicker" [ngStyle]="{'display': showBcgPicker ? 'flex': 'none'}"> 
            <div>
            <label for="bcgColor">Elija el color de fondo para su perfil:</label><input type="color" name="bcgColor" id="bcgColor">
            </div>
            <button>Guardar Cambios</button>
        </div>
        <div class="LinkDesign" [ngStyle]="{'display': showLinkDesign ? 'flex': 'none'}">
            <div>
            <label for="bcgColor">Elija el color de fondo para sus links:</label><input type="color" name="bcgColor" id="bcgColor">
            </div>
            <div>
            <label for="textColor">Elija el color de letra para sus links:</label><input type="color" name="textColor" id="textColor">    
            </div>
            <button>Guardar Cambios</button>
        </div>
        
    </div>
    <div class="ContainerPreview">
        <div class="Share-Block">
            <input type="text" class="MyLink" value="pagina/usuario" />
            <button class="ShareLink">Copiar</button>
        </div>
        <div class="CellBase">
            <div id="CellLinks">
            
            </div>
        </div>
    </div>
</main>
<div class="Estadisticas" [ngStyle]="{'display': statisticsOption ? 'flex': 'none'}">
    <div>
        <pie-visit></pie-visit>
    </div>
</div>
<div class="Configuracion" [ngStyle]="{'display': configOption ? 'flex': 'none'}" >
    <div>
        <label for="correo">Correo: </label>
        <input type="email" value="Correo@hotmail.com" disabled>
    </div>
    <div>
        <label for="clave">Nueva Contraseña: </label>
        <input type="password" name="clave" id="clave" placeholder="Ingrese nueva contraseña">
    </div>
    <div>
        <label for="clave">Confirme la nueva Contraseña: </label>
        <input type="password" name="clave2" id="clave2" placeholder="Repita la nueva contraseña">
    </div>
    <button>Actualizar Clave</button>
</div>


