<!-- Navbar-->
<nav id="menuprincipal" class="navbar navbar-expand-lg fixed-top" color-on-scroll="300">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="/">
                BucketLink
            </a>
            
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Nosotros" routerLinkActive="Active">
                        <p>Nosotros</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Noticias" routerLinkActive="Active">
                        <p>Noticias</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/Ingreso" routerLinkActive="Active">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-info btn-round" routerLink="/Registro" routerLinkActive="Active">Sign up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>